.notification-dropdown {
  position: absolute;
  top: 60px;
  right: 0;
  width: 600px;
  margin-top: 10px;
  margin-right: 20px;
  background-color: var(--color-white);
  border: 1px solid var(--color-border-light);
  border-radius: 8px;
  box-shadow: 0 2px 8px var(--color-shadow);
  padding: 10px;
  display: flex;
  flex-direction: column;

  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.6s;

  z-index: 1000;
  > .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 5px;
    width: min-content;
    position: relative;
    .notification-badge {
      position: absolute;
      top: -4px;
      right: -20px;
      background: var(--color-danger);
      color: var(--color-white);
      border-radius: 50%;
      min-width: 18px;
      height: 18px;
      padding: 0 6px;
      font-size: 12px;
      text-align: center;
    }
  }

  .buttons-row {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 10px;
    gap: 20px;
    .all-notifications,
    .unread-notifications {
      background: none;
      border: none;
      font-size: 16px;
      padding: 10px 10px;
      display: flex;
      align-items: center;
      border-radius: 4px;
      border: 1px solid var(--color-black);
      transition:
        background-color 0.2s ease,
        border-color 0.2s ease;
      &:not(.active) {
        background-color: var(--color-bg-light);
        border: 1px solid transparent;
      }
    }

    .mark-all-as-read {
      margin-left: auto;
      color: var(--color-blue);
      display: flex;
      align-items: center;
      padding: 0px;
      gap: 5px;
    }
    .mark-all-as-read:hover {
      text-decoration: underline;
      background-color: transparent;
      cursor: pointer;
    }

    .settings {
      padding: 0px;
    }
  }

  .notification-list {
    max-height: 70vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    .notification-item {
      transition:
        opacity 0.3s ease,
        max-height 0.3s ease,
        padding 0.3s ease,
        margin 0.3s ease;
      // max-height: 9999px;
      flex-shrink: 0;
      margin-bottom: 10px;
      overflow: hidden;
      &.hidden {
        opacity: 0;
        max-height: 0 !important;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        pointer-events: none;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .no-notifications {
      text-align: center;
      color: var(--color-text-muted);
      font-size: 14px;
      padding: 30px;
      transition: opacity 0.3s ease;
    }
  }

  .notification-item {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 25px;
    border-radius: 4px;
    cursor: pointer;
    &.new {
      background-color: var(--color-bg-new);
    }
    .dot {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: var(--color-blue);
      flex-shrink: 0;
    }
    &:not(.new) .dot {
      background-color: transparent;
    }
    .action-icon {
      width: 50px;
      height: 50px;
      flex-shrink: 0;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .details {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: flex-start;
      justify-content: start;
      min-height: 75px;
      width: stretch;
      .title {
        font-size: 12px;
        display: inline-block;
        text-align: left;
        .name,
        .company {
          display: inline;
          font-weight: bold;
          text-overflow: ellipsis;
          margin-right: 0.25em;
        }
        .company {
          margin-left: 0.25em;
        }
      }
      .timestamp {
        font-size: 12px;
        font-weight: bold;
        color: var(--color-text-muted);
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .notification-dropdown {
    width: 90vw;
    right: 5vw;
    top: 50px;
    margin-right: 0;
    .buttons-row {
      flex-wrap: wrap;
      gap: 10px;
    }
  }
}
